{% extends 'base.html' %}


{% block content %}
<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-md-6" id="header-text">
            <h2>Welcome to Pine Sap</h2>
            <h5>Here you can colect some of our favorite featured artists</h5>
        
            <div>
                <button class="btn btn-primary">View Our Docs</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div> 
            
        </div> 
            <!-- Header Image -->
        
            
    </header>
    <!-- End of Header Section -->
    <!-- Start of Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>-- Display Your Collection --</h2>
            <p>You can harness the power of an API to expand your collection!</p>
        </div>
    </section>
    <!-- End of Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="" alt="API image" id="api-image">
            <h4>Dedicated API routes</h4>
            <p>If you are a fan of using traditional API routes, we have those for you!</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="" alt="GraphQL Image" id="graphql-image">
            <h4>GraphQL API Route</h4>
            <p>If you want all data from one endpoint, we have that too! heros are awsome</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="" alt="DB image" id="database-image">
            <h4>Backed by a PostgreSQL Database</h4>
            <p>All data will be persisted inside of a secure Postgres Database</p>
        </div>      
    </section>
    <!-- End of Collection of Features -->
    <!-- Start of Community Section -->
    <section class="row">
        
        <div class="col-12 col-md-6">
            <h4>Talk with like minded hero collectors</h4>
            <p>
                Talk with other developers aroudn the world and collab on projects with your data. Join our slack channel
                and give a star to the project on github. And make sure to donate to a reputable charity with all that extra money your clearly have. 
            </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join our Slack Channel again...</button>
            </div>

        </div>

    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer -->
    <footer class="row" id="footer">
        
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Pine Sap</p>
                <p>The pine sap project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Pine Sap</p>
                <p>The pine sap project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Pine Sap</p>
                <p>The pine sap project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Pine Sap</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2" id="foot_pic">
            <div class="footer-text-flex">
                <img src="../../static/images/card.jpeg" alt="DB image" id="scotty">
            </div>
        </div>
    </footer> 
</div>

{% endblock content %}